body {
    background-color: #f1f1f1;
}

.cbl-bg-secondary {
    background-color: #6C63FF !important;
}

.cbl-bg-danger {
    background-color: #FF2569 !important;
}

.cbl-caption {
    color: #666;
    font-size: 12px;
    display: inline-block;
    margin-top: 0px;
}



.cbl-top-nav {
    font-family: "Work Sans";
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    z-index: 6000;
    border-bottom: solid 1px #ddd;
}

.cbl-top-nav-wrapper {
    display: flex;
    flex-direction: row;
    margin: auto 0;
    padding: 0 20px 0 85px;
    height: 100%;
}

.cbl-right-wrapper {
    display: flex;
    margin-left: auto;
}

.cbl-search-wrapper {
    display: inline-flex;
    height: 100%;
    border: none;
    position: relative;
    min-width: 400px;
}

.cbl-search-wrapper i {
    margin: auto 0;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color: #d1d1d1;
}

.cbl-search-wrapper .cbl-search-input {
    font-family: 'Work Sans';
    border: none;
    outline: none;
    padding-left: 32px;
    width: 100%;
}

.cbl-company-input-wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-right: 20px;
    min-width: 250px;
}

.cbl-company-input-wrapper:hover {
    background-color: #f9f9f9;
}

.cbl-company-input-wrapper label {
    font-size: 12px;
    color: #666;
    position: absolute;
    top: 8px;
    left: 10px;
    font-weight: 400;
    z-index: 1;
}

.cbl-company-input-wrapper select {
    font-family: 'Work Sans';
    width: 100%;
    height: 100%;
    border: none;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    outline: none;
    padding: 10px 10px 0 5px;
    box-sizing: border-box;
    transition: all ease .25s;
}

.cbl-company-input-wrapper .select2-selection {
    border: none;
    background: transparent;
    height: 59px;
    padding: 0;
}

.cbl-company-input-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #131313;
    line-height: 49px;
    padding-top: 10px;
    padding-left: 10px;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
}

.select2-search__field {
    outline: none !important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: transparent;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f1f1f1;
    color: #00A692;
}

.select2-results__options {
    color: #131313;
    font-size: 13px;
}

.cbl-company-input-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 59px;
}

.cbl-top-icon-list {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0 20px;
    font-size: 0;
}

.cbl-top-icon-list>li {
    display: inline-block;
    position: relative;
    margin: auto 4px;
}

.cbl-top-icon-list>li>button {
    width: 46px;
    height: 46px;
    padding: 0;
    border-radius: 50px;
    border: none;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    color: #454545;
    background-color: #fff;
    transition: all ease .25s;
}

.cbl-top-icon-list>li.open>button,
.cbl-top-icon-list>li>button:hover {
    background-color: #f1f1f1;
}

.cbl-icon-badge {
    font-family: "Work Sans";
    font-size: 11px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 100%;
    /*margin-top: -5px;*/
    margin-left: -20px;
    z-index: 1;
    background-color: #131313;
    padding: 0 5px;
    border-radius: 30px;
    color: #fff;
    border: solid 2px #fff;
}

.cbl-user-button {
    font-family: "Work Sans";
    display: inline-flex;
    flex-direction: row;
    text-align: right;
    height: 100%;
    padding: 0;
    margin-left: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cbl-user-button .cbl-user-info {
    display: inline-flex;
    flex-direction: column;
    margin: auto 0;
}

.cbl-user-button .cbl-user-avatar {
    width: 46px;
    height: 46px;
    min-width: 46px;
    min-height: 46px;
    border-radius: 50px;
    overflow: hidden;
    margin: auto 0 auto 10px;
}

.cbl-menu-nav {
    font-family: "Work Sans";
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    width: 65px;
    height: 100%;
    background-color: #00A692;
    z-index: 7000;
    border-right: solid 1px #ddd;
}

.cbl-dropdown {
    padding: 0px;
    width: 230px;
    overflow: hidden;
    transition: all ease .4s;
    border-radius: 10px 0 10px 10px;
    left: inherit;
    right: 0;
    border: solid 1px #C6C6C6;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .10);
    /*min-height: 300px;*/
}

/*.open>.cbl-dropdown {
    display: flex;
    flex-direction: row;
}*/

.cbl-dropdown .dropdown-menu-wrapper {
    width: 230px;
    min-width: 230px;
    padding: 15px;
    transition: all ease .4s;
}

.cbl-dropdown h6 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    margin-top: 0;
    font-size: 13px;
}


.cbl-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cbl-dropdown ul>li {
    margin: 4px 0;
    display: inline-block;
    width: 100%;
}

.cbl-dropdown ul>li>a {
    display: block;
    color: #131313;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    position: relative;
}

.cbl-dropdown ul>li>a:hover {
    color: #00A692;
}

.cbl-dropdown ul>li>a[data-link]:after {
    content: '';
    /*content: "\e080";
    font-family: 'Glyphicons Halflings';*/
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -4px;
    font-size: 12px;
    color: #777;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
    /*background-color: #666;*/
    border-bottom: solid 2px #8f8f8f;
    border-right: solid 2px #8f8f8f;
}

.cbl-dropdown ul>li>a[data-action="back"] {
    padding-left: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.cbl-dropdown ul>li>a[data-action="back"]:after {
    content: '';
    /*content: "\e080";
    font-family: 'Glyphicons Halflings';*/
    position: absolute;
    top: 50%;
    right: inherit;
    left: 0px;
    margin-top: -4px;
    font-size: 12px;
    color: #777;
    width: 8px;
    height: 8px;
    transform: rotate(-225deg);
    /*background-color: #666;*/
    border-bottom: solid 2px #8f8f8f;
    border-right: solid 2px #8f8f8f;
}

.cbl-dropdown .hide-rt,
.cbl-dropdown .hide-lt {
    position: absolute;
    top: 0;
    left: 0;

}

.cbl-dropdown .hide-rt {
    transform: translateX(230px);
}

.cbl-dropdown .hide-lt {
    transform: translateX(-230px);
}

.cbl-dropdown .current {
    transform: translateX(0px);
}

.cbl-dropdown .dropdown-list-notifications {
    overflow-y: auto;
    max-height: 200px;
}

.cbl-dropdown .dropdown-list-notifications li {
    padding: 8px 5px;
    border-radius: 5px;
    margin: 0;
}

.cbl-dropdown .dropdown-list-notifications li:hover {
    background-color: #f1f1f1;
}

.cbl-dropdown .dropdown-list-notifications .title {
    display: inline-block;
    width: 100%;
    color: #131313;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cbl-dropdown .dropdown-list-notifications .caption {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Scrollbar */
/* Width */
.cbl-dropdown ::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.cbl-dropdown ::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
.cbl-dropdown ::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
    cursor: pointer;
}

/* Handle on hover */
.cbl-dropdown ::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.cbl-dropdown .cbl-user-detail {
    border-bottom: solid 1px #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.cbl-dropdown .cbl-user-detail li {
    margin: 2px 0;
    font-size: 13px;
}

.cbl-dropdown .cbl-user-detail .cbl-user-name {
    text-transform: uppercase;
    font-weight: 600;
}

.cbl-dropdown .dropdown-list-primary-color a {
    color: #00A692;
}

.cbl-dropdown .dropdown-list-primary-color a:hover {
    color: #007868;
}

.ui-autocomplete {
    font-family: 'Work Sans';
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    font-size: 13px;
    border-color: #C6C6C6 !important;
    border-radius: 0 0 10px 10px;
    padding: 10px 15px;
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 10%);
}

.ui-autocomplete .ui-state-active {
    border: solid 1px transparent;
    background: transparent;
    font-weight: normal;
    color: #00A692;
}

.ui-autocomplete .ui-menu-item-wrapper {
    padding: 5px 0;
}

/* Scrollbar */
/* Width */
.select2-results__options::-webkit-scrollbar,
.ui-autocomplete::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.select2-results__options::-webkit-scrollbar-track,
.ui-autocomplete::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.select2-results__options::-webkit-scrollbar-thumb,
.ui-autocomplete::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
    cursor: pointer;
}

/* Handle on hover */
.select2-results__options::-webkit-scrollbar-thumb:hover,
.ui-autocomplete::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.select2-container--open {
    z-index: 8000;
}