body {
    background-color: #f1f1f1;
}

.cbl-bg-secondary {
    background-color: #6C63FF !important;
}

.cbl-bg-danger {
    background-color: #FF2569 !important;
}

.cbl-caption {
    color: #666;
    font-size: 12px;
    display: inline-block;
    margin-top: 3px;
}



.cbl-top-nav {
    font-family: "Work Sans";
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    z-index: 6000;
    border-bottom: solid 1px #ddd;
}

.cbl-top-nav-wrapper {
    display: flex;
    flex-direction: row;
    margin: auto 0;
    padding: 0 20px 0 85px;
    height: 100%;
}

.cbl-right-wrapper {
    display: flex;
    margin-left: auto;
}

.cbl-search-wrapper {
    display: inline-flex;
    height: 100%;
    border: none;
    position: relative;
    min-width: 300px;
}

.cbl-search-wrapper i {
    margin: auto 0;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    color: #666;
}

.cbl-search-wrapper .cbl-search-input {
    font-family: 'Work Sans';
    border: none;
    outline: none;
    padding-left: 32px;
    width: 100%;
}

.cbl-company-input-wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-right: 20px;
    min-width: 250px;
}

.cbl-company-input-wrapper:hover {
    background-color: #f1f1f1;
}

.cbl-company-input-wrapper label {
    font-size: 12px;
    color: #666;
    position: absolute;
    top: 10px;
    left: 10px;
}

.cbl-company-input-wrapper select {
    font-family: 'Work Sans';
    width: 100%;
    height: 100%;
    border: none;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    outline: none;
    padding: 10px 10px 0 5px;
    box-sizing: border-box;
    transition: all ease .25s;
}

.cbl-company-input-wrapper select:hover {
    background-color: #f1f1f1;
}

.cbl-top-icon-list {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0 20px;
    font-size: 0;
}

.cbl-top-icon-list > li {
    display: inline-block;
    position: relative;
    margin: auto 4px;
}

.cbl-top-icon-list > li > button {
    width: 46px;
    height: 46px;
    padding: 0;
    border-radius: 50px;
    border: none;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    color: #454545;
    background-color: #fff;
    transition: all ease .25s;
}

.cbl-top-icon-list > li > button:hover {
    background-color: #f1f1f1;
}

.cbl-icon-badge {
    font-family: "Work Sans";
    font-size: 11px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 100%;
    /*margin-top: -5px;*/
    margin-left: -20px;
    z-index: 1;
    background-color: #131313;
    padding: 0 5px;
    border-radius: 30px;
    color: #fff;
    border: solid 2px #fff;
}

.cbl-user-button {
    font-family: "Work Sans";
    display: inline-flex;
    flex-direction: row;
    text-align: right;
    height: 100%;
    padding: 0;
    margin-left: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cbl-user-button .cbl-user-info {
    display: inline-flex;
    flex-direction: column;
    margin: auto 0;
}

.cbl-user-button .cbl-user-avatar {
    width: 46px;
    height: 46px;
    border-radius: 50px;
    overflow: hidden;
    margin: auto 0 auto 10px;
}

.cbl-menu-nav {
    font-family: "Work Sans";
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    width: 65px;
    height: 100%;
    background-color: #00A692;
    z-index: 7000;
    border-right: solid 1px #ddd;
}